<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">World Online Store</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="!isAuth()"><a [routerLink]="['signUp']">Sign Up</a></li>
        <li routerLinkActive="active" *ngIf="!isAuth()"><a [routerLink]="['signIn']">Sign In</a></li>
        <li routerLinkActive="active" *ngIf="isAuth()"><a [routerLink]="['list']">Top Brands</a></li>
        <li routerLinkActive="active" *ngIf="isAuth()"><a [routerLink]="['shopping-list']">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="isAuth()">
        <li class="dropdown" dropdown>
          <a class="dropdown-toggle">User</a>
          <ul class="dropdown-menu">
            <!--<li><a (click)="onStore()">Store</a></li>-->
            <!--<li><a (click)="onFetch()">Retrieve</a></li>-->
            <li><a (click)="onProfile()">Profile</a></li>
            <li><a (click)="onSet()">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="onLogout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
